.app-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1rem;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid #fff;
  text-align: left;
  padding: 10px;
  font-size: 32px;
}

th {
  background-color: rgb(142, 109, 176);
}

td {
  background-color: rgb(201, 176, 227);
}